{% extends "admin/base_site.html" %}
{% block content %}
    <div>
        {% if validlink %}
            <h3>Set New Password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new one.</p>
        {% endif %}
    </div>
{% endblock %}